<md-card class="filter-container-parent">
  <md-card-header>
    <md-card-title>
      Filters
    </md-card-title>
  </md-card-header>
  <md-card-content>

    <md-card class="filter-container">
      <md-card-header>
        <md-card-subtitle class="reduced-bottom-margin">
          <md-slide-toggle
                [name]="'RFM Filters'"
                class="example-margin"
                [color]="warn"
                [checked]="avgSpendingFilterEnabled"
                [(ngModel)]="avgSpendingFilterEnabled">
              Average Spending Filter
            </md-slide-toggle>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <rz-slider-filter
          [ngClass]= "{'hidden': !avgSpendingFilterEnabled}"
          [name]="avgSpending.name"
          [min]= "avgSpending.minVal"
          [max]="avgSpending.maxVal"
          [step]="'10'"
          [type]="avgSpending.type"
          (sliderValueChanged)="avgSpending.setSelectedValue($event); getSummaryStats()">
        </rz-slider-filter>
      </md-card-content>
    </md-card>

    <md-card class="filter-container">
      <md-card-header>
        <md-card-subtitle class="reduced-bottom-margin">
            <md-slide-toggle
                [name]="'RFM Filters'"
                class="example-margin"
                [color]="warn"
                [checked]="rfmFiltersEnabled"
                [(ngModel)]="rfmFiltersEnabled">
              RFM Filters
            </md-slide-toggle>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <rz-checkbox-filter *ngFor = 'let filter of RFMFiltersArray'
          [name] = "filter.name"
          [ngClass]= "{'hidden': !rfmFiltersEnabled}"
          [checkBoxValues] = "filter.options"
          (selectedValues) = "filter.setSelectedValues($event); getSummaryStats()">
        </rz-checkbox-filter>
      </md-card-content>
    </md-card>

     <md-card class="filter-container">
      <md-card-header>
        <md-card-subtitle class="reduced-bottom-margin">
            <md-slide-toggle
                [name]="'Fresh Visits Filter'"
                class="example-margin"
                [color]="warn"
                [checked]="freshVisitsFilterEnabled"
                [(ngModel)]="freshVisitsFilterEnabled">
              Fresh Visits Filters
            </md-slide-toggle>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <rz-slider-filter *ngFor="let filter of FreshFiltersArray"
          [ngClass]= "{'hidden': !freshVisitsFilterEnabled}"
          [name]="filter.name"
          [min]= "filter.minVal"
          [max]="filter.maxVal"
          [type]="filter.type"
          [step]="'1'"
          (sliderValueChanged)="filter.setSelectedValue($event); getSummaryStats()">
        </rz-slider-filter>
      </md-card-content>
    </md-card>

    <md-spinner 
      *ngIf="loadingQuery"
      [color]="accent">
    </md-spinner>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="getTableData()">Load table</button>
    
  </md-card-actions>
</md-card>
