#card {
    box-sizing: border-box;
    width: 90%;
    padding: 6px;
    display: inline-block;
    margin:5px;
    font-size: 12px;
}

md-card-subtitle {
  margin-bottom: 1px;
  font-size:11px;
  /*font-family: 'PT Sans Narrow', sans-serif;*/
}

md-slider {
    /*box-sizing: border-box;*/
    padding: 0;
    width:70%;
    height: 30px;
    margin-top: -12px;
    margin-bottom: -5px;
}

md-input-container {
    /*box-sizing: border-box;*/
    width:15%;
    font-size: 11px;
    font-family: 'PT Sans Narrow', sans-serif;
}